*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    font-size: 28px;
}

li,h1{
    display: inline;
}

ul{
    display: flex;
    gap: 20px;

}
li {
    list-style: none;
    color: grey;
    cursor: pointer;
}

li:hover{
    color: white;
}

input{
    width: 70%;
    padding: 10px;
}

.searchbar {
    text-align: center;
    padding: 30px;
}

.searchbar input {
    width: 90%;
    max-width: 500px;
}

.box{
    border: solid black 2px;
    text-align: center;
    width: 220px;
    padding: 10px;
    border-radius: 5px;

}

img{
    width: 100%;
    height: auto;
}

.box:hover{
    border-color: black;
    background-color: black;
    color: white;
}

.products{
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 30px;

}

.about{
    text-align: center;
}

.about p{
    padding: 20px;
    font-size: larger;
}

.contact{
    padding: 20px;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        margin-top: 10px;
        flex-direction: row;
        gap: 10px;
    }
    .products {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 60%;
    }
}